name: Publish Package
on:
  push:
    tags:
      - 'v*.*.*'
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NPM_CONFIG_SKIP_PREFLIGHT_CHECK: true
  HUSKY: 0
permissions:
  contents: write
  packages: write
jobs:
  publish:
    name: 'Publish Package'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          registry-url: 'https://npm.pkg.github.com'
          cache: 'npm'
          scope: '@yuga-labs'
      - name: Install dependencies
        run: npm ci
      - name: Publish to GitHub Packages
        run: npm publish --access public
      - name: fix formatting of package.json
        run: npx prettier --write package.json
      - name: Commit package.json update
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git fetch origin main
          git checkout main
          git add package*.json
          git commit -m "chore: update version to ${{ github.ref }}" || echo "No changes to commit"
          git merge --ff-only HEAD
          git push origin main
